<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>ServletFilter</filter-name>
        <filter-class>Filter.ServletFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ServletFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quizing</servlet-name>
        <servlet-class>Controller.Quizing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Summary</servlet-name>
        <servlet-class>Controller.Summary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Review</servlet-name>
        <servlet-class>Controller.Review</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course</servlet-name>
        <servlet-class>Controller.Course</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lesson</servlet-name>
        <servlet-class>Controller.Lesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizNavigate</servlet-name>
        <servlet-class>Controller.QuizNavigate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quizing</servlet-name>
        <url-pattern>/Quizing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Summary</servlet-name>
        <url-pattern>/Summary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Review</servlet-name>
        <url-pattern>/Review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course</servlet-name>
        <url-pattern>/Course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lesson</servlet-name>
        <url-pattern>/Lesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizNavigate</servlet-name>
        <url-pattern>/QuizNavigate</url-pattern>
    </servlet-mapping>
</web-app>
